<ion-view view-title="mybesthelper">
	<div class="tabs tabs-icon-only tabs-color-assertive">
		<a class="tab-item" href="#/app/home">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-clipboard"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-android-happy"></i>
		</a>
	</div>
	<!--
	<ion-nav-buttons side="secondary">
		<div class="buttons">
			<button class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>
		</div>
	</ion-nav-buttons>-->

	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<p align="center"><b>Super Mom</b></p>
			</div>
			<div class="item item-body item-text-wrap" align="center">
				<img src="img/archetype2.png">
				<h1>Super Mom
                	<span class="badge badge-assertive">43</span></h1>
				<p align="justify">Mom of two or more...lot of work to do hum?! Things goes crazy, but she's always there to save the kids! 
					In this case you need a strong helper!
					<br>
					<br>
				</p>
			</div>
			<div class="item item-body item-text-wrap" align="center">
				<span class="badge badge-assertive">27</span> Helpers to assist you
			</div>
		</div>
		<h2 align="center">Matches</h2>
		<div class="list">
			<a class="item item-avatar" href="#">
				<img src="img/michelle.jpg">
				<h2>Michelle</h2>
				<div class="button-bar bar-light">
					<img src="img/checked.png">
					<img src="img/hascar.png">
					<img src="img/nosmoke.png">
					<img src="img/secured.png">
					+4
				</div>
				 
				<!--<p><b>31</b> times requested</p>-->
			</a>
			<a class="item item-avatar" href="#">
				<img src="img/dana.jpg">
				<h2>Dana</h2>
				<div class="button-bar bar-light">
					<img src="img/checked.png">
					<img src="img/nosmoke.png">
					<img src="img/secured.png">
					<img src="img/heart.png">
					
				</div>
				<!--<p><b>28</b> times requested</p>-->
			</a>
			<a class="item item-avatar" href="#">
				<img src="img/marcelo.jpg">
				<h2>Marcelo</h2>
				<div class="button-bar bar-light">
					<img src="img/checked.png">
					<img src="img/nosmoke.png">
					<img src="img/secured.png">
				</div>
				<!--<p><b>25</b> times requested</p>-->
			</a>

		</div>

		<div class="row">
			<div class="col">
				<a href="#/app/formFamily" class="button button-assertive">
					&nbsp;&nbsp;&nbsp;Inform my contact details&nbsp;&nbsp;&nbsp;
				</a>
			</div>
		</div>
		
		<br><br><br>
	</ion-content>
</ion-view>
