<ion-view view-title="mybesthelper">
	<div class="tabs tabs-icon-only tabs-color-assertive">
		<a class="tab-item" href="#/app/home">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-clipboard"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-android-happy"></i>
		</a>
	</div>
	<!--
	<ion-nav-buttons side="secondary">
		<div class="buttons">
			<button class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>
		</div>
	</ion-nav-buttons>-->

	<ion-content>
		
		<div class="card">
			<!--
			<div class="item item-divider">
				<h2 align="center"><b>The intelectual</b></h2>
			</div>-->
			<div class="item item-body item-text-wrap" align="center">
				<img src="img/archetype1.png">
				<h1>The intelectual</h1>
				<p>Many books read... five languages spoken... having traveled around the world he knows history very well.</p>
			</div>
			<div class="item item-body item-text-wrap" align="center">
				<span class="badge badge-assertive">77</span> Families requesting
			</div>
		</div>
		<h2 align="center">Matches</h2>
		<div class="list">
			<a class="item item-avatar" href="#">
				<img src="img/paul.jpg">
				<h2>Paul</h2>
				<p>Father of 1, needs <b>part-time babysitter</b></p>
			</a>
			<a class="item item-avatar" href="#">
				<img src="img/joana.jpg">
				<h2>Joana</h2>
				<p>Mom of 2, needs <b>full-time babysitter</b></p>
			</a>
			<!--
			<a class="item item-avatar" href="#">
				<img src="img/david.jpg">
				<h2>David</h2>
				<p>Father of 3, needs <b>nanny</b></p>
			</a>-->
		</div>
		<div class="row">
			<div class="col">
				<a href="#/app/formHelper" class="button button-assertive">
					&nbsp;&nbsp;&nbsp;Inform my contact details&nbsp;&nbsp;&nbsp;
				</a>
			</div>
		</div>
		<br><br><br>
	</ion-content>
</ion-view>