<ion-view view-title="Helper">
	<div class="tabs tabs-icon-only tabs-color-assertive">
		<a class="tab-item" href="#/app/home">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-clipboard"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-android-happy"></i>
		</a>
	</div>
	<ion-content>
		<!--<h3 align='center'>Helper</h3>-->
		<!--
		<div class="button-bar bar-light">
			<a class="button">1</a>
			<a class="button">2</a>
			<a class="button">3</a>
			<a class="button">4</a>
			<a class="button">5</a>
			<a class="button">6</a>
			<a class="button button-royal">7</a>
			<a class="button">8</a>
			<a class="button">9</a>
		</div>-->
		
		<div class="bar bar-header bar-assertive">
		  <h1 class="title">If I could choose I would prefer...</h1>
		</div>
		<!--<h4 align='center'>If I could choose I would prefer to:</h4>-->
		<br><br><br>
		<div class="row">
			<div class="col">
				<a href="#/app/needto" class="button button-icon icon ion-beer"><br>Happy Hour<br>#1</a>
			</div>
			<div class="col">
				<a href="#/app/needto" class="button button-icon icon ion-pizza"><br>Some pizza<br>#2</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<a href="#/app/needto" class="button button-icon icon ion-wineglass"><br>A good wine<br>#3</a>
			</div>
			<div class="col">
				<a href="#/app/needto" class="button button-icon icon ion-bag"><br>Shopping<br>#4</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<a href="#/app/needto" class="button button-icon icon ion-ios-game-controller-b"><br>Video Game<br>#5</a>
			</div>
			<div class="col">
				<a href="#/app/needto" class="button button-icon icon ion-bag"><br>Shopping<br>#6</a>
			</div>
		</div>
	
	</ion-content>
</ion-view>