<ion-view view-title="my best helper">
	<ion-content>
		<div class="bar bar-header bar-assertive">
			<h1 class="title">Wich one are you?</h1>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col">
				<a href="#/app/step1Helper" class="button button-icon icon ion-person"><br>I'm a Helper</a>
			</div>
			<div class="col">
				<a href="#/app/step1Family" class="button button-icon icon ion-ios-people"><br>I'm a Family</a>
			</div>
		</div>

		<!--
		<div class="row">
			<div class="col">
				<a href="#/app/step1Helper" class="button button-large familybackground icon ion-person">
					<br>I'm a Helper</a>
			</div>
			<div class="col">
				<a href="#/app/step1Family" class="button button-large familybackground icon ion-ios-people" ng-click="toogleFamilyInfo()">
					<br>I'm a Family</a>
			</div>
		</div>-->

		<br>
		<div align="center">
			<img src="img/logo.png">
		</div>


		<div class="card_">
			<div class="_item">
				<h3 align="center">Found</h3>
			</div>
			<div class="item_">
				<div class="row">
					<div class="col">
						<span class="badge badge-assertive">57</span>
						<h3>helpers in</h3>
					</div>

				</div>
				<div class="row">
					<div class="col">
						<img src="img/vanmap2.png">
					</div>
				</div>

			</div>
			<!-- HELPERS AVATARS
			<div class="row">
				<div class="col">
					image #1
				</div>
				<div class="col">
					image #2
				</div>
			</div>-->


		</div>
		<!--
		<div class="card">
			<div class="item familybackground item-text-wrap" id="familyquote">
				<i class="icon ion-quote"></i> I liked that myBestHelper matched candidates who were a good fit, and who were available at the time I needed.
			</div>

			<div class="item item-avatar">
				<img alt="Angela a1d62b8f5f9087f0f297318e6e9c8caba4f8c0a38ac05ed288d156872e0c0c75" class="author-image radius block-left block-spacing margin-right-normal" height="60" src="https://d2zbr4nz5vixd5.cloudfront.net/assets/testimonial/angela-a1d62b8f5f9087f0f297318e6e9c8caba4f8c0a38ac05ed288d156872e0c0c75.jpg" width="60" />
				<p class="author-name">Angela V.</p>
				<p class="author-info">Mom Of Three</p>
			</div>

		</div>-->


	</ion-content>
</ion-view>
