<ion-view view-title="MyBestHelper">
	<ion-content>
		
		<!--
		<div class="bar bar-header familybackground">
			<h1 class="title familybackground">Wich one are you?</h1>
		</div>
		<br>
		<br>
		-->
		
		

		<!--<a href="#app/tabs">  TABS TESTING  </a>-->
		<div class="row familybackground">
			<div class="col ">
				<a href="#/app/step1Helper" class="button button-icon icon ion-person familybackground">
					<br>I'm a Helper</a>
			</div>
			<div class="col">
				<a href="#/app/step1Family" class="button button-icon icon ion-ios-people familybackground">
					<br>I'm a Family</a>
			</div>
		</div>

		<!--
		<div class="row">
			<div class="col">
				<a href="#/app/step1Helper" class="button button-large familybackground icon ion-person">
					<br>I'm a Helper</a>
			</div>
			<div class="col">
				<a href="#/app/step1Family" class="button button-large familybackground icon ion-ios-people" ng-click="toogleFamilyInfo()">
					<br>I'm a Family</a>
			</div>
		</div>-->

		<br>
		<!--
		<div align="center">
			<img src="img/logo.png">
		</div>
		-->
		<div class="card_">
			<div class="_item">
				<h3 align="center">Found</h3>
			</div>
			<div class="item_">
				<div class="row">
					<div class="col">
						<span class="badge badge-assertive">346</span>
						<h3>helpers in</h3>
					</div>
				</div>
			</div>
		</div>


		<div class="row" style="border: 0px solid red; padding:0px;width:100%;height:50%">
			<div class="col" style="border: 0px solid red; padding:0px;width:100%;height:100%">
				<!--<img src="img/vanmap.png" style="border: 0px solid red; padding:0px; width: 100%">-->
				<div ng-show="showGears">
					<br>
					<br>
					<br>
					<img src="img/gears.gif">
					<br> {{message}}
				</div>

				<div id="mapInHome" data-tap-disabled="true"></div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<!--<h4 align="center"><a href="#/app/map">See my actual position on entire screen</a></h4>-->
	</ion-content>
</ion-view>
