<ion-view view-title="MyBestHelper.com">
	<div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
		<div class="tabs">
			<a class="tab-item" href="#">
				<i class="icon ion-home"></i>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-clipboard"></i>
			</a>
			<a class="tab-item active" href="#">
				<i class="icon ion-android-happy"></i>
			</a>
		</div>
	</div>
	<div class="tabs">
		<a class="tab-item" href="#/app/profile">
			<h4>My Profile</h4>
		</a>
		<a class="tab-item active" href="#">
			<!--<i class="icon ion-ios-search"></i>-->
			<h4>Matches <b>{{matches}}</b></h4>
		</a>
	</div>
	<!--
	<div class="tabs tabs-icon-only tabs-color-assertive">
		<a class="tab-item" href="#/app/home">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-clipboard"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-android-happy"></i>
		</a>
	</div>-->
	<ion-content>
		<br>
		<br>
		<h3 align='center'><br>Thank you!</h3>
		<br>
		<div class="row">
			<div class="col">

				<br>
				<h4>Please, check your email for some <span class="matches">matches</span> and additional information!</h4>
				<br>
				<i class="icon ion-email button-large" style="height:30px"></i>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<br>
				<div align="center">
					<img src="img/logo.png">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
