<ion-view view-title="Problem Solved!">
	<ion-content>
		<h3 align='center'><br>We have found</h3>
		<div class="card">
			<div class="item item-divider">
				<i class="icon ion-person"></i> Helpers
			</div>
			<div class="item item-text-wrap">
				<span class="badge badge-assertive">32</span> Helpers available right now
			</div>
		</div>
		<br><br>
		
		<div class="card">
			<div class="item item-divider">
				<i class="icon ion-ios-people"></i> Families
			</div>
			<div class="item item-text-wrap">
				<span class="badge badge-assertive">41</span> Families requesting this service
			</div>
		</div>
		
		<br><br>
		
		<div class="row">
			<div class="col">
				<a href="#/app/contactform" class="button button-assertive">
					Add my contact info
				</a>
			</div>
		</div>

	</ion-content>
</ion-view>
