<ion-view view-title="MyBestHelper">
	<div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
		<div class="tabs">
			<a class="tab-item" href="#">
				<i class="icon ion-home"></i>
			</a>
			<a class="tab-item active" href="#">
				<i class="icon ion-clipboard"></i>
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-android-happy"></i>
			</a>
		</div>
	</div>
	<div class="tabs">
		<a class="tab-item" href="#/app/profile">
			<h4>My Profile</h4>
		</a>
		<a class="tab-item active" href="#">
			<!--<i class="icon ion-ios-search"></i>-->
			<h4>Matches <b>{{matches}}</b></h4>
		</a>
	</div>
	<!--
	<div class="tabs tabs-icon-only tabs-color-assertive">
		<a class="tab-item" href="#/app/home">
			<i class="icon ion-home"></i>
		</a>
		<a class="tab-item active">
			<i class="icon ion-clipboard"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-android-happy"></i>
		</a>
	</div>-->
	<ion-content>
		<!--
		<div class="bar bar-header bar-assertive">
		  <h1 class="title">Last details...very important</h1>
		</div>-->
		<br><br><br>
		<h2 class="title" align="center">More about me</h2>
		<div class="row">
			<div class="col">
				<button onclick="changeState(this)"  ng-click="optionOnHelperStep(4, 'ion-no-smoking', 'Do not smoke')" class="button button-icon icon ion-no-smoking"><br>Don't smoke</button>
			</div>
			<div class="col">
				<button onclick="changeState(this)"  ng-click="optionOnHelperStep(4,'ion-android-car', 'Have a car')" class="button button-icon icon ion-android-car"><br>Have a car</button>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<button onclick="changeState(this)"  ng-click="optionOnHelperStep(4,'ion-ios-medkit-outline', 'First-aid know-how')" class="button button-icon icon ion-ios-medkit-outline">
					<br>First-aid trained</button>
			</div>
			<div class="col">
				<button onclick="changeState(this)"  ng-click="optionOnHelperStep(4,'ion-ios-bolt','Able to cook')" class="button button-icon icon ion-ios-nutrition-outline">
					<br>Able to cook</button>
			</div>
		</div>
	
		<br>
		
		<div class="row">
			<div class="col">
				<a href="#/app/archetype1" class="button button-assertive">
					&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;
				</a>
			</div>
		</div>
		
		<br><br><br>
	</ion-content>
</ion-view>