<ion-view view-title="#3?">
	<div class="tabs-striped tabs-background-assertive tabs-color-light">
		<div class="tabs">
			<a class="tab-item" href="#/app/home">Home</a>
			<a class="tab-item active">Quiz</a>
			<a class="tab-item">Finish</a>
		</div>
	</div>
	<ion-content>
		<div class="bar bar-header bar-assertive">
		  <h1 class="title">...but the truth is:</h1>
		</div>
		<br><br><br>
		
		<div class="row">
			<div class="col">
				<a href="#/app/step5" class="button button-icon icon ion-android-plane"><br>I need to travel</a>
			</div>
			<div class="col">
				<a href="#/app/step5" class="button button-icon icon ion-android-bicycle"><br>Fix my bike</a>
			</div>
			<div class="col">
				<a href="#/app/step5" class="button button-icon icon ion-alert"><br>Unpredictable</a>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a href="#/app/step5" class="button button-icon icon ion-clock"><br>No time to</a>
			</div>
			<div class="col">
				<a href="#/app/step5" class="button button-icon icon ion-wand"><br>Not a magician</a>
			</div>
			<div class="col">
				<a href="#/app/step5" class="button button-icon icon ion-model-s"><br>Broken car</a>
			</div>
		</div>

	</ion-content>
</ion-view>
